body{
    background: #1d1e21;
    color: #fff;
    font-size: 50px;
    font-family: impact;
    display: flex;
    justify-content: center;
}

.red{
    color: red;
}

/* Hide Scroll bar through Magic */

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.carousel-item{
    height: 60vh !important;
    width: 40vh !important;
}