body {
    background: #1d1e21;
    color: #fff;
    font-size: 50px;
    font-family: impact;
    display: flex;
    justify-content: center;
}

.red {
    color: red;
}


/* Hide Scroll bar through Magic */

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.carousel-item {
    height: 60vh !important;
    width: 40vh !important;
}

h1 {
    position: relative;
    font-size: 1.5em;
    top: 2vh;
}

#game1 img {
    border: 1px solid #F00;
    display: flexbox;
    height: 50vh;
    position: absolute;
    top: 37vh;
    left: 10vh;
    width: 40vh;
}

#game2 img {
    border: 1px solid #F00;
    display: flexbox;
    height: 50vh;
    position: absolute;
    top: 37vh;
    left: 60vh;
    width: 40vh;
}

#game3 img {
    border: 1px solid #F00;
    display: flexbox;
    height: 50vh;
    position: absolute;
    top: 37vh;
    left: 110vh;
    width: 40vh;
}

#game4 img {
    border: 1px solid #F00;
    display: flexbox;
    height: 50vh;
    position: absolute;
    top: 37vh;
    left: 160vh;
    width: 40vh;
}

p {
    font-size: 0.3em;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    bottom: 1vh;
}